#avatar{
	  width: 118px;
  height: 181px;
  border-radius: 50%;;
  object-fit: cover;

}	
.contacts-list li:nth-of-type(1){
list-style-image: url(./assets/discord-logo.svg);
list-style-position: inside;
}
.contacts-list li:nth-of-type(2){
list-style-image: url(./assets/email_logo.svg);
list-style-position: inside;
}
.contacts-list li:nth-of-type(3){
list-style-image: url(./assets/phone-logo.svg);
list-style-position: inside;
}
header{
  width: 100%;
}
.name_and_profession {
  display: flex;
  flex-direction: column;
  width: 95%;
  align-items: center;
  margin-top: 50px;
  white-space: nowrap;
}
.name{
 Font:  40px Quicksand;
 letter-spacing: 4px;
  padding: 20px 0;
  white-space: nowrap;

}
.bottom_border{
  border-bottom: 3px solid green;
  width: 20%;
}

.profession{
  margin-top:10px;
  font-weight: bold;
  white-space: nowrap;
}
nav {
  background-color: #f8f8f8;
  padding: 20px;
  border-bottom: 2px solid green;
  display: flex;
  justify-content: center;
  height: auto;
  white-space: nowrap;
}
.header-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 10px solid green;
  flex-wrap: nowrap;
}
.header-info{
flex: 1 1 auto;
}
body {
  font-family: arial;
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
}
.navigation-buttons{
	display: inline-block;
	color: green;
	text-decoration: none;
	margin-right: 20px;
	
}
a{ 
  color: green;
  text-decoration: none;
}
main{
	display: grid;
  place-items: center;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 0 1vw;
}
.main-sections{
  justify-content: left;
	border-top: 2px solid green;
  width: 35vw;
  height: 25vh;
  line-height: 2;
}

#contacts{
  border-top: none;
}
#about {
  line-height: 1.5;

}
h2 {
  margin: 10px 0;
}
ul{
  list-style-position: inside;
  list-style-type: none;
  
}
ol{
  list-style-position: inside;

}
footer{
   background-color: #f8f8f8;
  padding: 20px;
  border-top: 2px solid green;
  display: flex;
  justify-content: center;
  height: auto;
}
#rsschool-logo{
 width: 60px;
 height: auto;
}
footer{
  display: flex;
  justify-content: space-between;
}
#skills ul li:nth-of-type(1){
list-style-image: url(./assets/html-logo.svg);
}
#skills ul li:nth-of-type(2){
list-style-image: url(./assets/css-logo.svg);
}
#skills ul li:nth-of-type(3){
list-style-image: url(./assets/js-logo.svg);
}